<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>ProcBotox Surveys pushed report</title>

  <script src="../js/jquery-1.12.0.min.cache.js"></script>
  <script src="../js/angular-1.7.5.min.cache.js"></script>
  <script src="../js/bootstrap-3.3.7.min.cache.js"></script>
  <script src="../scripts/surveypush-report.js"></script>
  <script src="../scripts/choir-api.js"></script>

  <link rel="stylesheet" href="../css/bootstrap-3.3.7.min.cache.css">
</head>

<body>
<div ng-app="SurveyPushReport" ng-controller="SurveyPushReportCtrl as vm">
  <div class="container-fluid">
    <h2>ProcBotox Surveys Report</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Sent</th>
            <th>Date</th>
            <th>Type</th>
            <th>Completed</th>
            <th>Auto push state</th>
            <th>Action</th>
          </tr><th></th>
          <tr ng-repeat="reg in vm.surveyRegs" >
            <td style="width: 20%">
              <div ng-if="reg.type === 'parent'">Initial Botox survey</div>
            </td>
            <td style="width: 20%">
              <div>{{reg.surveyDt}}</div>
            </td>
            <td style="width: 10%">
              <div>{{reg.surveyType}}</div>
            </td>
            <td style="width: 10%">
              <div class="glyphicon glyphicon-ok" style="color:green" ng-show="reg.complete ==='Y'"></div>
              <div class="glyphicon glyphicon-remove" style="color:red" ng-show="reg.complete !=='Y'"></div>
            </td>
            <td style="width: 20%">
              <div ng-if="reg.status === 'ACTIVE'">
                Sending

              </div>
              <div ng-if="reg.status === 'STOP'">
                Stopped
              </div>
              <div ng-if="reg.status != 'ACTIVE' && reg.status != 'STOP'">
                {{reg.status}}
              </div>
            </td>
            <td style="width: 20%">
              <div ng-if="reg.status === 'ACTIVE'">
              <button type="button" class="btn btn-primary" ng-click="vm.stopSending(reg.surveyRegId)">
                Stop
              </button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
